@import "tailwindcss";

@theme {
  /* Main color scheme */
  --color-primary-darkest: #152120;
  --color-primary-dark: #40625f;
  --color-primary: #6ba49e;
  --color-primary-light: #a6c8c5;
  --color-primary-lightest: #e1edec;
  
  /* Accent colors */
  --color-accent-red: #945b61;
  --color-accent-green: #6ba482;
  --color-accent-blue: #6b8ea4;
  --color-accent-purple: #9e6ba4;
  --color-accent-yellow: #a49e6b;
}

@layer base {
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}